name: Master

on:
  push:
    branches: [ master ]

jobs:
  AuthorizationServer:
    name: "Master : Authorization Server"
    runs-on: ubuntu-latest
    env:
      working-directory: ./Sherweb.Apis.AuthorizationServer

    steps:
    - uses: actions/checkout@master
    - name: Setup Dotnet
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.301
    - name: Install dependencies
      run: dotnet restore
      working-directory: ${{env.working-directory}}
    - name: Build
      run: dotnet build --configuration Release --no-restore
      working-directory: ${{env.working-directory}}
    - name: Test
      run: dotnet test --no-restore --verbosity normal
      working-directory: ${{env.working-directory}}
    - name: Publish NuGet
      run: dotnet nuget push Sherweb.Apis.Authorization.nupkg --api-key ${{secrets.NUGET_API_KEY}} --source https://api.nuget.org/v3/index.json
      working-directory: ${{env.working-directory}}/bin/Release

  Distribution:
    name: "Master : Distribution"
    runs-on: ubuntu-latest
    env:
      working-directory: ./Sherweb.Apis.Distribution

    steps:
    - uses: actions/checkout@master
    - name: Setup Dotnet
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 3.1.301
    - name: Install dependencies
      run: dotnet restore
      working-directory: ${{env.working-directory}}
    - name: Build
      run: dotnet build --configuration Release --no-restore
      working-directory: ${{env.working-directory}}
    - name: Test
      run: dotnet test --no-restore --verbosity normal
      working-directory: ${{env.working-directory}}
    - name: Publish NuGet
      run: dotnet nuget push Sherweb.Apis.Distribution.nupkg --api-key ${{secrets.NUGET_API_KEY}} --source https://api.nuget.org/v3/index.json
      working-directory: ${{env.working-directory}}/bin/Release
